<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke test Suite">
    <test name="Regression">
        <parameter name="runmode" value="xml"></parameter>
        <parameter name="browser" value="chrome"/>
        <parameter name="runId" value="1"/>
        <parameter name="invocationCount" value="1"></parameter>
        <parameter name="threadPoolSize" value="1"></parameter>
        <classes>
            <class name="messagepoint.load.LoginLoadTest"></class>
        </classes>
    </test>
</suite>