<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke test Suite">
    <test name="Regression">
        <parameter name="runmode" value="xml"></parameter>
        <parameter name="browser" value="chrome"/>
        <parameter name="runId" value="1"/>
        <!--<parameter name="scenario" value="2"/>-->
        <classes>
            <class name="tests.umh.smoke.AuthorizationTests"></class>
        </classes>
    </test>
</suite>